.DS_Store

# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.astro/
.wrangler/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example
